<div class="container">

  <h1>餐廳分類總表</h1>
  <div>
    <%= link_to '餐廳總覽', admin_restaurants_path %> |
    <%= link_to '分類總覽', admin_categories_path %>
  </div>
  <div class="row">

    <div class="col-md-4">

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Category Name</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
          <tr>
            <th width="5%" scope="row"><%= category.id %></th>
            <td width="40%"><%= category.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>

  </div>
</div>